/* header */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 80px;
    padding: 0 40px;
    background-color: white;
}

.nav-logo {
    height: 60px;
    width: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    color: gray;
}

/* title */
.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* side menu */
.content {
    display: flex;
}

.aside {
    margin-right: 10rem;
    padding: 1rem;
    float: left;
}

.aside-list {
    list-style: none;
    padding: 0;
}

.aside-item {
    text-decoration: none;
    color: black;
}

.movie-section {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    background-color: lightgray;
}

.movie-title {
    text-align: center;
}

.movie-card {
    display: flex;
    justify-content: space-evenly;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
}

.movie-poster {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* footer */
.blank {
    margin: 5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
}

.footer-txt {
    color: white;
}