<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose dinner</title>
    <style>
        .txt {
            margin-top: 2rem;
            text-align: center;
        }
        .img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <h1 class="txt">🍽오늘의 저녁 추천 메뉴는 {{ menu }}입니다!🍽</h1>
    <img class='img' src="img" alt="">
</body>
</html>